.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.login-wrap {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
}

.input-wrap {
  width: 400px;
  margin-left: auto;
  margin-right: auto;

  label {
    width: 4em;
  }

  input {
    width: 300px;
  }
}

.third-party-login {
  width: 100%;

  a {
    color: #1b93fb;
    padding: 0 4px;
    margin: 0 4px;
  }
}
